<% provide :title, t(".About") %>


<h1><%= t ".About" %></h1>
<p>
  <%= t (".the") %> <a href="http://www.railstutorial.org/"><em><%= t ".Ruby" %></em></a> <%= t (".is") %>
  <a href="http://www.railstutorial.org.book"><%= t ".book" %></a> <%= t (".and") %>
  <a href="http://screencasts.railstutorial.org"><%= t ".screen" %></a><%= t (".to") %>
  <a href="http://rubyonrails.org/"><%= t ".ruby" %></a>.
  <%= t ".this" %>

</p>

