<div class="center jumbotron">


  <h1><%= t ".Welcome" %></h1>

  <h2>
    <%= t ".the" %>
    <a href="http://www.railstutorial.org/"><%= t ".Ruby" %></a>
    <%= t ".sam" %>
  </h2>

  <%= link_to t(".Sign"), signup_path, class: "btn btn-lg btn-primary" %>

</div>
<%= link_to image_tag( "rails.png", alt: t(".logo")), "http://rubyonrails.org/" %>
