<h1><%= t (".Password reset") %></h1>

<p><%= t (".To") %></p>

<%= link_to t(".Reset password"), edit_password_reset_url(@user.reset_token,
  email: @user.email) %>

<p><%= t (".This") %></p>

<p>
  <%= t(".If") %>
</p>
